In [1]:
import pymysql

In [5]:
host_name = 'labuser8mysql.mysql.database.azure.com'
user_name = 'labuser8'
password = '!Seoul2022'
database_name = 'classicmodels'

In [23]:
db = pymysql.connect(
    host = host_name, 
    port = 3306,
    user= user_name,
    passwd=password,
    db = database_name,
    charset='utf8',
    ssl={"fake_flag_to_enable_tls":True})

In [22]:
import pandas as pd

In [25]:
SQL = 'select * from employees'
df = pd.read_sql(SQL,db)

In [28]:
type(df)

pandas.core.frame.DataFrame

In [29]:
df

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,NaN,President
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002.0,VP Sales
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002.0,VP Marketing
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056.0,Sales Manager (APAC)
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056.0,Sale Manager (EMEA)
5,1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1,1056.0,Sales Manager (NA)
6,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143.0,Sales Rep
7,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143.0,Sales Rep
8,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143.0,Sales Rep
9,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143.0,Sales Rep
10,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143.0,Sales Rep
11,1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,3,1143.0,Sales Rep
12,1337,Bondur,Loui,x6493,lbondur@classicmodelcars.com,4,1102.0,Sales Rep
13,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,4,1102.0,Sales Rep
14,1401,Castillo,Pamela,x2759,pcastillo@classicmodelcars.com,4,1102.0,Sales Rep
15,1501,Bott,Larry,x2311,lbott@classicmodelcars.com,7,1102.0,Sales Rep
16,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102.0,Sales Rep
17,1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088.0,Sales Rep
18,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088.0,Sales Rep
19,1619,King,Tom,x103,tking@classicmodelcars.com,6,1088.0,Sales Rep
20,1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,5,1056.0,Sales Rep
21,1625,Kato,Yoshimi,x102,ykato@classicmodelcars.com,5,1621.0,Sales Rep
22,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102.0,Sales Rep

In [33]:
SQL = '''
create table tempTable(
    id TINYINT auto_increment, 
    user_name varchar(10) not null,
    phone varchar(30) null,
    primary key(id)
);
'''

cursor = db.cursor()
cursor.execute(SQL)
cursor.close()

OperationalError: (1050, "Table 'temptable' already exists")

In [35]:
SQL = 'insert into tempTable(user_name, phone) values("(g)-idle","100-000-0000")'
cursor = db.cursor()
cursor.execute(SQL)
cursor.close()

In [36]:
SQL = 'select * from tempTable'
df = pd.read_sql(SQL,db)
df

   id user_name         phone
0   1  (g)-idle  100-000-0000